label {
  color: skyblue;
}

input[type="text"] {
  border: 5px solid green;
}

input[type="email"] {
  background-color: blue;
}

input[type="submit"] {
  background-color: green;
}

body {
  background-color: salmon;
}
